<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/chitter.css">
    <link rel="icon" type="image/png" href="/favicon_rocky.png">
    <link rel="shortcut icon" type="image/png" href="/favicon_rocky.png">
    <link rel="apple-touch-icon image_src" href="/favicon_rocky.png">
    <title>Home</title>
</head>
<body>

<p class="intro"><strong><%= flash[:notice] %></strong></p>
<p class="intro"><strong><%= flash[:error] %></strong></p>

<h1>Chitter</h1>
<nav>
  <a href="/login/sign_up" title="sign up">Sign up</a> |
  <a href="/login/sign_in" title="sign in">Sign in</a>
</nav>

<div class="rocky"></div>

<article>
  <% @peeps.each do |peep|%>
    <table>
      <tr>
        <td width="20px" rowspan="2" class="peep_rocky"></td>
        <td id="peep-<%= peep.id %>">
          <small>
            created by <b><%= peep.user.name %></b> on <%= peep.timestamp %>

          </small>
        </td>
      </tr>
      <tr>
        <td class="peep"><%= peep.text %></td>
      </tr>
    </table>
  <% end %>
</article>

</body>
</html>
